{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Nombre de réouverture sur incident {% endblock %}

{% block indic_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table id="reopenTable" class="display compact" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="select-filter">Mois</th>
                        <th class="select-filter">Projet</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Mois</th>
                        <th>Projet</th>
                        <th>Nombre</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="chartContainer" style="height: 300px; width: 100%;">
                </div>
            </div>
        </div>
        <script type="text/javascript">
            window.onload = function(){
                $(document).ready(function() {
                    $.fn.dataTable.moment( 'MMMM','fr' );
                    $('#reopenTable').DataTable( {
                        "ajax": "reopen/table/2016",
                        "columns": [
                            { "data": "Mois" },
                            { "data": "Projet" },
                            { "data": "Nombre" }
                        ],
                        "columnDefs": [ {
                            "targets": 0,
                            "orderable": false,
                        }
                        ],
                        "scrollY":        "350px",
                        "scrollCollapse": true,
                        "paging":         false,
                        dom: 'Bfrtip',
                        buttons: [
                            'excel', 'pdf', 'print'
                        ],
                        initComplete: function () {
                            this.api().columns('.select-filter').every( function () {
                                var column = this;
                                var select = $('<select><option value=""></option></select>')
                                        .appendTo( $(column.footer()).empty() )
                                        .on( 'change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex(
                                                    $(this).val()
                                            );
                                            column
                                                    .search( val ? '^'+val+'$' : '', true, false )
                                                    .draw();
                                            var title = column.header();
                                            getOpenCloseGraph($(title).html(),$(this).val());
                                        } );
                                column.data().unique().sort().each( function ( d, j ) {
                                    select.append( '<option value="'+d+'">'+d+'</option>' )
                                } );
                            } );
                        }
                    } );
                    getOpenCloseGraph();
                } );
            };
            function getOpenCloseGraph(type,id){
                if(type && id){
                    switch (type){
                        case "Mois":
                            $.get( "reopen/graph/2016/"+id, function( data ) {
                                $( "#chartContainer" ).html( data );
                            });
                            break;
                        case "Projet":
                            $.get( "reopen/graph/2016/all/"+id, function( data ) {
                                $( "#chartContainer" ).html( data );
                            });
                            break;
                        case "Nature":
                            $.get( "reopen/graph/2016/all/all/"+id, function( data ) {
                                $( "#chartContainer" ).html( data );
                            });
                            break;
                        case "Priorité":
                            $.get( "reopen/graph/2016/all/all/all/"+id, function( data ) {
                                $( "#chartContainer" ).html( data );
                            });
                            break;
                        default:
                            $.get( "reopen/graph/2016", function( data ) {
                                $( "#chartContainer" ).html( data );
                            });
                    }
                }else{
                    $.get( "reopen/graph/2016", function( data ) {
                        $( "#chartContainer" ).html( data );
                    });
                }

            }
        </script>
{% endblock %}