<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Nombre d'anomalies réouvertes</div>
        <div class="panel-body">
            <div class="center-block text-center">
                <h2>{{ count }}</h2>
            </div>
        </div>
    </div>
</div>