<div class="container">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <button type="button" class="btn btn-primary" id="addForm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ addBtn }}</button>
        </form>
    </nav>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addProjectLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    {{ table_HTML| raw }}
</div>