{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Evolution nombre de ticket {% endblock %}

{% block indic_content %}
    <div class="container">
        {{ graph_HTML| raw }}
        {{ table_HTML| raw }}
    </div>
{% endblock %}
{% block indic_javascript %}
     {{ graph_JS| raw }}
    {{ table_JS| raw }}
{% endblock %}