# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    list_project:
        60: HIPARK
        93: iREIM
        123: REIMIT
        114: Studelites
        91: CFO
        55: Logement
        58: Webzine
    list_trsb_user:
        601: Stephane Richard
        618: Fabienne Guriec
        705: Batiste Herisson
        707: Matthieu Rambaud
        745: Jonathan Gondellier
    status:
        corrected:
            60: 4
            93: 5
            123: REIMIT
            114: 5
            91: 5
            55: 4
            58: 4
    delai_priorite:
        support:
            1: 4
            2: 24
            3: 72
        anomalie:
            1: 4
            2: 24
            3: 72
        evolution:
            1: 48
            2: 120
            3: 240