{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Nombre d'ouverture / Fermeture {% endblock %}

{% block indic_content %}
    <div class="container">
        {{ table_HTML| raw }}
        <div class="row">
            <div class="col-sm-12">
                <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
{% endblock %}
{% block indic_javascript %}
    <script type="text/javascript">
        window.onload = function(){
            $(document).ready(function() {
                {{ table_JS| raw }}
                getGraph();
            } );
        };
    </script>
    {{ graph_JS| raw }}
{% endblock %}