{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Delai de traitements {% endblock %}

{% block indic_content %}
    <div class="container">
        {{ table_delai_HTML| raw }}
    </div>
{% endblock %}
{% block indic_javascript %}
    {{ table_delai_JS| raw }}
{% endblock %}