{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Dashboard {% endblock %}

{% block indic_content %}
    <div class="container">
        {#{{ render(controller('IndicateursBundle:SupAnoForfait:getCountSupAnoForfait')) }}#}
        <div class="row">
            <div id="supanoforfaitcount"></div>
            <div id="reouvertureanocount"></div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function(){
            $(document).ready(function() {
                $.get( "supanoforfait/count/2016", function( data ) {
                    $( "#supanoforfaitcount" ).html( data );
                });
                $.get( "contrat/reoinci/count/2016", function( data ) {
                    $( "#reouvertureanocount" ).html( data );
                });
            });
        };
    </script>
{% endblock %}