{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Dashboard {% endblock %}

{% block indic_content %}
    <div class="container">
        {#{{ render(controller('IndicateursBundle:SupAnoForfait:getCountSupAnoForfait')) }}#}
        <div class="row">
            <div id="supanoforfaitcount"></div>
            <div id="reouvertureanocount"></div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function(){
            $(document).ready(function() {
                var request = $.ajax({
                    url: "supanoforfait/count",
                    method: "GET",
                    data: {year : "2016"},
                    dataType: "json"
                });

                request.done(function( data ) {
                    $( "#supanoforfaitcount" ).html( data );
                });

                request.fail(function( jqXHR, textStatus ) {
                    $( "#supanoforfaitcount" ).html( '<div class="alert alert-danger" role="alert">'+textStatus+'</div>' );
                });

                request = $.ajax({
                    url: "contrat/reoinci/count",
                    method: "GET",
                    data: {year : "2016"},
                    dataType: "json"
                });

                request.done(function( data ) {
                    $( "#reouvertureanocount" ).html( data );
                });

                request.fail(function( jqXHR, textStatus ) {
                    $( "#reouvertureanocount" ).html( '<div class="alert alert-danger" role="alert">'+textStatus+'</div>' );
                });

            });
        };
    </script>
{% endblock %}