{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Dashboard {% endblock %}

{% block indic_content %}
    <div class="container">
        {#{{ render(controller('IndicateursBundle:SupAnoForfait:getCountSupAnoForfait')) }}#}
        <div class="row">
            {% include '@Indicateurs/Default/panel_hp.html.twig' with {'titre': 'Nombre de Tickets consommés','id':'supanoforfaitcount'} %}
            {% include '@Indicateurs/Default/panel_hp.html.twig' with {'titre': 'Nb anomalies réouvertes plus 1 fois','id':'reouvertureanocount'} %}
            {% include '@Indicateurs/Default/panel_hp.html.twig' with {'titre': 'Délai Traitements des Ano P1','id':'delaitraitementincident'} %}
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function(){
            $(document).ready(function() {
                getAjaxValue("supanoforfait/count",{year : "2016"},'supanoforfaitcount');
                getAjaxValue("contrat/reoinci/count",{year : "2016"},'reouvertureanocount');
                getAjaxValue("delai/traitement/incident/contrat",{year : "2016"},'delaitraitementincident');
            });
        };
        function getAjaxValue(url,param,id){
            var request = $.ajax({
                url: url,
                method: "GET",
                data: param,
                dataType: "json"
            });

            request.done(function( data ) {
                $( "#"+id ).html( data );
            });

            request.fail(function( jqXHR, textStatus ) {
                $( "#"+id ).html( '<div class="alert alert-danger" role="alert">'+textStatus+'</div>' );
            });
        }
    </script>
{% endblock %}