<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">{{ titre }}</div>
        <div class="panel-body" style="min-height: 90px;">
            <div id="{{ id }}">
                <div style="text-align: center;font-size: 40px;opacity: 0.5;">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </div>
    </div>
</div>