{% extends 'IndicateursBundle:Default:Indicateur.html.twig' %}

{% block indic_title %}Nombre de réouverture {% endblock %}

{% block indic_content %}
    <div class="container">
    {{ table_HTML| raw }}
        <div class="row">
            <div class="col-sm-12">
                <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
{% endblock %}
{% block indic_javascript %}
    <script type="text/javascript">
        window.onload = function(){
            $(document).ready(function() {
                {{ table_JS| raw }}
                getGraph();
            } );
        };
        function getGraph(type,id){
            if(type && id){
                switch (type){
                    case "Mois":
                        $.get( "reopen/graph/2016/"+id, function( data ) {
                          $( "#chartContainer" ).html( data );
                        });
                        break;
                    case "Projet":
                        $.get( "reopen/graph/2016/all/"+id, function( data ) {
                          $( "#chartContainer" ).html( data );
                        });
                        break;
                    case "Nature":
                        $.get( "reopen/graph/2016/all/all/"+id, function( data ) {
                          $( "#chartContainer" ).html( data );
                        });
                    break;
                    case "Priorité":
                        $.get( "reopen/graph/2016/all/all/all/"+id, function( data ) {
                          $( "#chartContainer" ).html( data );
                        });
                        break;
                    default:
                        $.get( "reopen/graph/2016", function( data ) {
                          $( "#chartContainer" ).html( data );
                        });
                }
            }else{
                $.get( "reopen/graph/2016", function( data ) {
                  $( "#chartContainer" ).html( data );
                });
            }

        }
    </script>
{% endblock %}