{% extends 'base.html.twig' %}

{% block title %}Indicateurs - Nombre d'ouverture / Fermeture {% endblock %}

{% block stylesheets %}
        {% stylesheets output='css/compiled/main.indic.css' filter='cssrewrite'
        '@IndicateursBundle/Resources/public/css/datatables.min.css'
        '@IndicateursBundle/Resources/public/css/jquery.dataTables.min.css'
        '@IndicateursBundle/Resources/public/css/dataTables.bootstrap.min.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Tickets Réouverts</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function(){
            $(document).ready(function() {
                getOpenCloseGraph();
            } );
        };
        function getOpenCloseGraph(project){
            if(project){
                 $.get( "reopen/graph/2016/"+project, function( data ) {
                  $( "#chartContainer" ).html( data );
                });
            }else{
                $.get( "reopen/graph/2016", function( data ) {
                  $( "#chartContainer" ).html( data );
                });
            }

        }
    </script>
{% endblock %}

{% block javascripts %}
    {% javascripts output='js/compiled/main.indic.js'
    '@IndicateursBundle/Resources/public/js/datatables.min.js'
    '@IndicateursBundle/Resources/public/js/highcharts.js'
    '@IndicateursBundle/Resources/public/js/modules/exporting.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}